$primary : #616161;
$secondary : #D5B4B4;
$tertiary : #E4D0D0;
$quaternary : #F5EBEB;
$gray: rgb(242, 242, 242);
// @import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&display=swap');
@import url(//db.onlinewebfonts.com/c/073a3b73a63a87e100f6bb8f003fc0d3?family=Flexo+Light);

h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}
body{
    // @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
    
    // font-family: 'Exo', sans-serif;
    font-family: "Flexo Light";
    background: $quaternary;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    .header{
        width: 100%;
        height: 3rem;
        background-color: $primary;
    }
    .main {
        background: $secondary;
        width: 80vmin;
        margin: 1rem auto;
        padding: 0.5rem;
        .title{
            h3{
                font-family: 'Roboto', sans-serif;
                font-size: 3rem;
                font-weight: 400;
                color: #000;
                text-align: center;
                margin: 0;
                padding: 0;
            }
        }
        .search{
            width: 100%;
            height: 4rem;
            background-color: $secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                width: 80%;
                height: 2rem;
                border: none;
                border-radius: 5px;
                padding: 0 1rem;
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                font-weight: 400;
                color: #000;
                outline: none;
            }
            button{
                width: 2rem;
                height: 2rem;
                border: none;
                border-radius: 50%;
                background-color: $primary;
                margin-left: 1rem;
                cursor: pointer;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    width: 1rem;
                    height: 1rem;
                    fill: #fff;
                }
            }
        }
        .filter{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            margin-bottom: 1rem;
            .filter-list{
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
                text-align: left;
                .filter-item{
                    display: flex;
                    align-items: center;
                    margin: 0.5rem 0;
                }
            }
        }
    }
    .pokedex{
        max-width: 80vmax;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        background-color: #fff;
        padding: 1rem;
        
        .my-row{
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
            place-items: center;
            gap: 1rem;
            width: 100%;
            height: 100%;
            .pokemon{
                border-radius: 5px;
                display: flex;
                flex-direction: column;
      
                .pokemon-img{
                    width: 150px;
                    background-color: $gray;
                    border-radius: 5px;
                    padding: 0.5rem;
                    cursor: pointer;
                    img{
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .pokeloading{
            margin: 1rem;
            display: flex;
            justify-content: center;
        }
    }
    .pills{
        display: flex;
        .pill{
            width: 60px !important;
            display: block;
            text-align: center;
            font-size: 11px;
            padding: 3px 5px;
            border-radius: 3px;;
            &.water{
                background-color: #6890F0;
                color: #fff;
            }
            &.fire{
                background-color: #F08030;
                color: #fff;
            }
            &.grass{
                background-color: #78C850;
                color: #fff;
            }
            &.electric{
                background-color: #F8D030;
                color: #fff;
            }
            &.ice{
                background-color: #98D8D8;
                color: #fff;
            }
            &.fighting{
                background-color: #C03028;
                color: #fff;
            }
            &.poison{
                background-color: #A040A0;
                color: #fff;
            }
            &.ground{
                background-color: #E0C068;
                color: #fff;
            }
            &.flying{
                background-color: #A890F0;
                color: #fff;
            }
            &.psychic{
                background-color: #F85888;
                color: #fff;
            }
            &.bug{
                background-color: #A8B820;
                color: #fff;
            }
            &.rock{
                background-color: #B8A038;
                color: #fff;
            }
            &.ghost{
                background-color: #705898;
                color: #fff;
            }
            &.dragon{
                background-color: #7038F8;
                color: #fff;
            }
            &.dark{
                background-color: #332821;
                color: #fff;
            }
            &.steel{
                background-color: #B8B8D0;
                color: #fff;
            }
            &.fairy{
                background-color: #EE99AC;
                color: #fff;
            }
            &.normal{
                background-color: #A8A878;
                color: #fff;
            }
            &.unknown{
                background-color: #68A090;
                color: #fff;
            }
            &.shadow{
                background-color: #705848;
                color: #fff;
            }
        }
    }
    .modal{
        .stats{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            background-color: #332821;
        }
        
    }
}

